::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

.theme-light ::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
}
.theme-light ::-webkit-scrollbar-thumb:hover {
  background-color: #d2d2d2;
}
.theme-light ::-webkit-scrollbar-thumb:active {
  background-color: #bdbdbd;
}

.theme-dark ::-webkit-scrollbar-thumb {
  background-color: #424242;
}
.theme-dark ::-webkit-scrollbar-thumb:hover {
  background-color: #505050;
}
.theme-dark ::-webkit-scrollbar-thumb:active {
  background-color: #616161;
}

.col-resizing * {
  cursor: col-resize;
}
