// reset
html, body, #__nuxt, #__layout, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  overflow-y: hidden;
}
// custom classes
.user-select-none {
  user-select: none;
}
.pointer-events-none {
  pointer-events: none;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
// transition
.no-transition-leave-active,
.no-transition-enter-active {
  transition: none;
}
