// reset
html, body, #__nuxt, #__layout, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  overflow-y: hidden;
}

// transition
.no-transition-leave-active,
.no-transition-enter-active {
  transition: none;
}
